<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{ :: body}, 'User Form')}">
<body>
<link th:href="@{/public/css/gijgo.min.css}" rel="stylesheet" type="text/css"/>
<script th:src="@{/public/js/gijgo.min.js}"></script>
<script th:src="@{/public/js/messages/messages.th-th.min.js}"></script>
<br>
<div class="row justify-content-md-center">
  <div class="col-sm-8">
    <h2>สร้างรายชื่อ</h2><hr/>
    <form id="userForm" action="#" th:action="@{/create-user/} + ${period}" th:object="${user}" method="post">
      <input type="hidden" th:field="*{id}"/>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
                <label for="name">ชื่อ:</label>
                <input id="name" th:field="*{name}" th:value="*{name}" class="form-control"/>
                <small id="nameHelp" class="form-text text-muted">ไม่สามารถใช้ชื่อซ้ำกันได้ในแต่ละงวด</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" id="periodId" name="periodId" th:value="${period}">
    </form>
    <form action="#" th:action="@{/users-lotto}" method="get">
      <input type="hidden" name="id" th:value="${period}">
      <button type="button" class="btn btn-primary" onclick="save()">บันทึก</button>
      <button type="submit" class="btn btn-danger">ย้อนกลับ</button>
    </form>
  </div>
</div>
<script>
  function save() {
    let $name = $("#name");
    if ($name.val() === '') {
      $name.focus();
      alert('กรุณาใส่ชื่อ');
    } else {
      $.post('http://localhost:8080/checkDuplicateName', {
        'name': $name.val(),
        'periodId': $('#periodId').val()
      }, function (data) {
        if (data === 'true') {
          alert(`ชื่อ ${$name.val()} มีอยู่แล้วในงวดนี้ ไม่สามารถสร้างชื่อนี้ซ้ำกันได้ กรุณาใช้ชื่อใหม่`)
        } else {
          $('#userForm').submit();
        }
      });
    }
  }
</script>
</body>
</html>