<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{ :: body}, 'Download')}" xmlns:th="http://www.thymeleaf.org">
<body>
<br>
<div class="row justify-content-md-center">
  <div class="col-sm-12">
    <form action="#" method="post" th:action="@{/}">
      <input id="periodId" name="periodId" th:value="${periodId}" type="hidden"/>
      <table class="table table-responsive-sm table-bordered">
        <thead class="thead-dark">
        <tr>
          <th class="text-center" style="width: 33%">ทั้งหมด</th>
          <th class="text-center" style="width: 33%">ทั้งหมด รวมเลขซ้ำ</th>
          <th class="text-center" style="width: 34%">เลขที่เกินขั้นต่ำ</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center"><a class="btn btn-success" th:href="@{download/full/} + ${periodId}">ดาวน์โหลด</a><br>
          </td>
          <td class="text-center"><a class="btn btn-success"
                                     th:href="@{download/fullsum/} + ${periodId}">ดาวน์โหลด</a><br></td>
          <td class="text-center">
            <table class="table table-borderless">
              <tr>
                <td><label for="overThreeOn">3 ตัวบน</label></td>
                <td><input class="form-control text-right" id="overThreeOn" name="overThreeOn" type="number"/></td>
              </tr>
              <tr>
                <td><label for="overThreeDown">3 ตัวล่าง</label></td>
                <td><input class="form-control text-right" id="overThreeDown" name="overThreeDown" type="number"/></td>
              </tr>
              <tr>
                <td><label for="overTwoOn">2 ตัวบน</label></td>
                <td><input class="form-control text-right" id="overTwoOn" name="overTwoOn" type="number"/></td>
              </tr>
              <tr>
                <td><label for="overTwoDown">2 ตัวล่าง</label></td>
                <td><input class="form-control text-right" id="overTwoDown" name="overTwoDown" type="number"/></td>
              </tr>
              <tr>
                <td><label for="overTote">โต๊ด</label></td>
                <td><input class="form-control text-right" id="overTote" name="overTote" type="number"/></td>
              </tr>
              <tr>
                <td><label for="overTwoOn">1 วิ่งบน</label></td>
                <td><input class="form-control text-right" id="overOneOn" name="overOneOn" type="number"/></td>
              </tr>
              <tr>
                <td><label for="overTwoDown">1 วิ่งล่าง</label></td>
                <td><input class="form-control text-right" id="overOneDown" name="overOneDown" type="number"/></td>
              </tr>
            </table>
            <button class="btn btn-success" th:onclick="'javascript:overLimit(' + ${periodId} + ');'"
                    type="button">ดาวน์โหลด
            </button>
            <br>
          </td>
        </tr>
        </tbody>
      </table>
      <br>
      <a class="btn btn-danger" th:href="@{/}">ย้อนกลับ</a>
      <br><br>
    </form>
  </div>
</div>
<script>
  function overLimit(periodId) {
    let overThreeOn = checkBlank($('#overThreeOn').val(), 0);
    let overThreeDown = checkBlank($('#overThreeDown').val(), 0);
    let overTwoOn = checkBlank($('#overTwoOn').val(), 0);
    let overTwoDown = checkBlank($('#overTwoDown').val(), 0);
    let overTote = checkBlank($('#overTote').val(), 0);
    let overOneOn = checkBlank($('#overOneOn').val(), 0);
    let overOneDown = checkBlank($('#overOneDown').val(), 0);
    window.open(`/download/overlimit/${periodId}?overThreeOn=${overThreeOn}
    &overThreeDown=${overThreeDown}&overTwoOn=${overTwoOn}&overTwoDown=${overTwoDown}&overTote=${overTote}&overOneOn=${overOneOn}&overOneDown=${overOneDown}`);
  }
</script>
</body>
</html>
