<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{ :: body}, 'Import lotto')}">
<body>
<br>
<div class="row justify-content-md-center">
  <div class="col-sm-8">
    <h2>นำเข้าข้อมูลหวย</h2><hr/>
    <form id="formSubmit" action="#" th:action="@{/import-lotto/} + ${period}" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
                <label for="name">ชื่อ:</label>
                <input id="name" name="name" class="form-control"/>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-4">
                <input type="file" id="lottoFile" name="lottoFile">
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" id="periodId" name="periodId" th:value="${period}">
      <button type="button" id="btn" class="btn btn-primary" onclick="save()">บันทึก</button>
      <button id="btnLoad" class="btn btn-primary" type="button" disabled style="display: none;">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
      <a th:href="@{/users-lotto?id=} + ${period}" class="btn btn-danger">ย้อนกลับ</a>
    </form>
  </div>
</div>
<script>
  function save() {
    let $name = $('#name');
    let $lottoFile = $('#lottoFile');
    if ($name.val() === '') {
      $name.focus();
      alert('กรุณาใส่ชื่อ');
    } else if ($lottoFile.val() === '') {
      $lottoFile.focus();
      alert('กรุณาแบบไฟล์นำเข้าข้อมูลหวย');
    } else {
      $('#btn').hide();
      $('#btnLoad').show();
      $('#formSubmit').submit();
    }
  }
</script>
</body>
</html>