<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{ :: body}, 'Period')}">
<body>
  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th class="text-center">วันที่</th>
      <th class="text-center">ยอดซื้อ</th>
      <th class="text-center">ยอดจ่าย</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="period: ${periods}">
      <td>
        <form action="#" th:action="@{/lotto-detail}" method="post">
          <input type="hidden" th:value="${period.id}"/>
          <button type="submit" th:text="${#temporals.format(period.periodDate, 'dd-MM-yyyy')}" style="border-style: none; background: none"></button>
        </form>
      </td>
      <td th:text="${period.buyTotal}"></td>
      <td th:text="${period.payTotal}"></td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/create-period}" class="btn btn-primary">สร้างงวดวันที่</a>
</body>
</html>