<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{ :: body}, 'Period')}">
<body>
<br>
<a th:href="@{/create-period}" class="btn btn-primary">สร้างงวดวันที่</a>
<br><br>
<table class="table table-bordered">
  <thead class="thead-dark">
  <tr>
    <th class="text-center">วันที่</th>
    <th class="text-center">ยอดซื้อ</th>
    <th class="text-center">ยอดซื้อรวมเปอร์เซ็นต์</th>
    <th class="text-center">ยอดจ่าย</th>
    <th class="text-center">ส่งเจ้า</th>
    <th class="text-center">ยอดจริง</th>
    <th class="text-center">สถานะ</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="period: ${periods}">
    <td>
      <form action="#" th:action="@{/users-lotto}" method="get">
        <input type="hidden" name="id" th:value="${period.id}"/>
        <button type="submit" th:text="${#temporals.format(period.periodDate, 'dd-MM-yyyy')}"
                class="btn btn-link"></button>
      </form>
    </td>
    <td class="text-right" th:text="${period.buyTotal}"></td>
    <td class="text-right" th:text="${period.buyPercentTotal}"></td>
    <td class="text-right" th:text="${period.payTotal}"></td>
    <td class="text-right" th:text="${period.payBoss}"></td>
    <td class="text-right" th:text="${period.payReal}"></td>
    <td>
      <table class="table table-borderless">
        <tr>
          <td>
            <form action="#" th:action="@{/show-update-period}" method="post">
              <input type="hidden" name="id" th:value="${period.id}"/>
              <button type="submit" class="btn btn-dark btn-sm">แก้ไข</button>
            </form>
          </td>
          <td>
            <form name="formDelete" action="#" th:action="@{/delete-period}" method="post">
            <input type="hidden" name="id" th:value="${period.id}"/>
            <button type="button" class="btn btn-danger btn-sm"
                    th:onclick="deletePeriod([[${#temporals.format(period.periodDate, 'dd-MM-yyyy')}]], this)">ลบ
            </button>
          </form>
          </td>
          <td>
            <form action="#" th:action="@{/send-boss}" method="get">
              <input type="hidden" name="id" th:value="${period.id}"/>
              <button type="submit" class="btn btn-secondary btn-sm">ยอดส่งเจ้า</button>
            </form>
          </td>
          <td>
            <form name="formDelete" action="#" th:action="@{/download-excel}" method="post">
              <input type="hidden" name="id" th:value="${period.id}"/>
              <button type="submit" class="btn btn-info btn-sm">ดาวน์โหลด</button>
            </form>
          </td>
          <td>
            <form name="formDelete" action="#" th:action="@{/check-lotto}" method="post">
              <input type="hidden" name="id" th:value="${period.id}"/>
              <button type="submit" class="btn btn-success btn-sm">ตรวจหวย</button>
            </form>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<script>
  function deletePeriod(periodDate, field) {
    if (confirm('คุณต้องการลบงวดวันที่ ' + periodDate + ' ใช่หรือไม่')) {
      jQuery(field).closest('form').submit();
    }
  }
</script>
</body>
</html>