<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{ :: body}, 'Check Lotto')}">
<body>
<br>
<div class="row justify-content-md-center">
  <div class="col-sm-8">
    <h2>ผลรางวัล</h2>
    <hr/>
    <form action="#" id="formSubmit" th:action="@{/show-check-lotto}" th:object="${period}" method="post">
      <input type="hidden" th:field="*{id}"/>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="row">
              <table class="table table-bordered table-responsive-sm">
                <thead class="thead-dark">
                <tr>
                  <th></th>
                  <th class="text-center">เลขที่ออก</th>
                  <th class="text-center">รางวัล บาทละ</th>
                </tr>
                </thead>
                <tr>
                  <td>3 ตัวบน</td>
                  <td><input type="number" class="form-control text-right" th:field="*{threeOn}"></td>
                  <td><input type="number" class="form-control text-right" th:field="*{payThreeOn}"></td>
                </tr>
                <tr>
                  <td>โต๊ด</td>
                  <td></td>
                  <td><input type="number" class="form-control text-right" th:field="*{payTote}"></td>
                </tr>
                <tr>
                  <td>2 ตัวบน</td>
                  <td></td>
                  <td><input type="number" class="form-control text-right" th:field="*{payTwoOn}"></td>
                </tr>
                <tr>
                  <td>3 ตัวล่าง ครั้งที่ 1</td>
                  <td><input type="number" class="form-control text-right" th:field="*{threeDown1}"></td>
                  <td><input type="number" class="form-control text-right" th:field="*{payThreeDown1}"></td>
                </tr>
                <tr>
                  <td>3 ตัวล่าง ครั้งที่ 2</td>
                  <td><input type="number" class="form-control text-right" th:field="*{threeDown2}"></td>
                  <td><input type="number" class="form-control text-right" th:field="*{payThreeDown2}"></td>
                </tr>
                <tr>
                  <td>3 ตัวล่าง ครั้งที่ 3</td>
                  <td><input type="number" class="form-control text-right" th:field="*{threeDown3}"></td>
                  <td><input type="number" class="form-control text-right" th:field="*{payThreeDown3}"></td>
                </tr>
                <tr>
                  <td>3 ตัวล่าง ครั้งที่ 4</td>
                  <td><input type="number" class="form-control text-right" th:field="*{threeDown4}"></td>
                  <td><input type="number" class="form-control text-right" th:field="*{payThreeDown4}"></td>
                </tr>
                <tr>
                  <td>2 ตัวล่าง</td>
                  <td><input type="number" class="form-control text-right" th:field="*{twoDown}"></td>
                  <td><input type="number" class="form-control text-right" th:field="*{payTwoDown}"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary" onclick="bfSubmit()">ตรวจผลรางวัล</button>
      <a th:href="@{/}" class="btn btn-danger">ย้อนกลับ</a>
      <br><br>
    </form>
  </div>
</div>
<script>

  var require = ['threeOn', 'threeDown1', 'threeDown2', 'threeDown3', 'threeDown4', 'twoDown'];
  var requireFormat = [3, 3, 3, 3, 3, 2];

  function bfSubmit() {
    if (chkFieldBlank() && chkFormatLotto()) {
      $('#formSubmit').submit();
    }
  }

  function chkFieldBlank() {
    let result = true;
    for (let field of require) {
      let $fieldLottoNumber = $("input[type='number'][name='" + field + "']");
      if ($fieldLottoNumber.val() === '') {
        alert('กรุณาใส่ผลรางวัล');
        $fieldLottoNumber.focus();
        result = false;
        break;
      }
    }
    return result;
  }

  function chkFormatLotto() {
    let result = true;
    for (let index in require) {
      let format = requireFormat[index];
      let $fieldLottoNumber = $("input[type='number'][name='" + require[index] + "']");
      if ($fieldLottoNumber.val().length !== format) {
        result = false;
        alert('คุณใส่จำนวนผลรางวัลไม่ถูกต้อง คุณต้องใส่ ' + format + ' ตัวเลข');
        $fieldLottoNumber.focus();
        break;
      }
    }
    return result;
  }

  $(function () {
    chkInteger();
    if ($('#threeOn').val() === '') {
      $('#payThreeOn').val('500');
      $('#payTote').val('90');
      $('#payTwoOn').val('60');
      $('#payThreeDown1').val('100');
      $('#payThreeDown2').val('100');
      $('#payThreeDown3').val('100');
      $('#payThreeDown4').val('100');
      $('#payTwoDown').val('60');
    }
  });

</script>
</body>
</html>