<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{ :: body}, 'Users Lotto')}">
<body>
<div class="card" th:object="${user}">
  <div class="card-header bg-info text-white" th:text="${user.name}"></div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">ตัวเลข</th>
        <th scope="col">บน</th>
        <th scope="col">ล่าง</th>
        <th scope="col">โต๊ด</th>
      </tr>
      </thead>
      <tr th:each="lotto : ${user.lotto}">
        <td th:text="${lotto.numberLotto}"></td>
      </tr>
    </table>
  </div>
</div>
<a th:href="@{/create-user?id=} + ${period}" class="btn btn-primary">สร้างรายชื่อ</a>
<script>
  function deleteUser(name, field) {
    if (confirm('คุณต้องการลบรายชื่อ ' + name + ' ใช่หรือไม่')) {
      jQuery(field).closest('form').submit();
    }
  }

</script>
</body>
</html>