<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{ :: body}, 'Lotto')}">
<body>
<br>
<form id="lotto" name="lotto" th:action="@{/lotto-detail/} + ${user.id}" method="post">
  <div class="card" th:object="${user}">
    <div class="card-header bg-info text-white" th:text="${user.name}"></div>
    <div class="card-body">
      <table id="tbDetail" class="table table-bordered table-responsive-sm">
        <thead>
        <tr>
          <th scope="col" class="text-right" style="width: 14.28%">ตัวเลข</th>
          <th scope="col" class="text-right" style="width: 14.28%">บน</th>
          <th scope="col" class="text-right" style="width: 14.28%">ล่าง</th>
          <th scope="col" class="text-right" style="width: 14.28%">โต๊ด</th>
          <th scope="col" class="text-right" style="width: 15%" nowrap="">บวกเปอร์เซ็นต์แล้ว</th>
          <th scope="col" class="text-right" style="width: 14.28%">จำนวนเงิน</th>
          <th scope="col" class="text-right" style="width: 13.56%">ลบ</th>
        </tr>
        </thead>
        <tr style="display: none"></tr>
        <tr th:each="lotto : ${user.lottos}">
          <td>
            <input type="number" class="form-control text-right" th:name="numberLotto + ${lotto.id}" th:value="${lotto.numberLotto}" onblur="checkMinus(this);setInputTote(this);checkLength(this)">
          </td>
          <td>
            <input type="number" class="form-control text-right" th:name="buyOn + ${lotto.id}" th:value="${lotto.buyOn}" onblur="checkMinus(this);calRow(this)">
            <input type="hidden" th:name="lottoId + ${lotto.id}" th:value="${lotto.id}">
          </td>
          <td><input type="number" class="form-control text-right" th:name="buyDown + ${lotto.id}" th:value="${lotto.buyDown}" onblur="checkMinus(this);calRow(this);"></td>
          <td th:switch="${lotto.numberLotto.length()}">
            <span th:case="'3'"><input type="number" class="form-control text-right" th:name="buyTote + ${lotto.id}" th:value="${lotto.buyTote}" onblur="checkMinus(this);calRow(this);"></span>
            <span th:case="*"><input type="number" class="form-control text-right" th:name="buyTote + ${lotto.id}" th:value="${lotto.buyTote}" readonly onblur="checkMinus(this);calRow(this);"></span>
          </td>
          <td nowrap="">
            <table class="table table-borderless">
              <tr>
                <td>บน: </td>
                <td>
                  <input type="radio" th:id="percentOn + ${lotto.id} + 1" th:name="percentOn + ${lotto.id}" class="form-check-input" onchange="calRow(this)" th:value="${lotto.percentOn.YES.code}" th:checked="${lotto.percentOn.code == 'Y'}"/>
                  <label class="form-check-label" th:for="percentOn + ${lotto.id} + 1">ใช่</label>
                </td>
                <td>
                  <input type="radio" th:id="percentOn + ${lotto.id} + 2" th:name="percentOn + ${lotto.id}" class="form-check-input" onchange="calRow(this)" th:value="${lotto.percentOn.NO.code}" th:checked="${lotto.percentOn.code == 'N'}"/>
                  <label class="form-check-label" th:for="percentOn + ${lotto.id} + 2">ไม่ใช่</label>
                </td>
              </tr>
              <tr>
                <td>ล่าง: </td>
                <td>
                  <input type="radio" th:id="percentDown + ${lotto.id} + 1" th:name="percentDown + ${lotto.id}" class="form-check-input" onchange="calRow(this)" th:value="${lotto.percentDown.YES.code}" th:checked="${lotto.percentDown.code == 'Y'}"/>
                  <label class="form-check-label" th:for="percentDown + ${lotto.id} + 1">ใช่</label>
                </td>
                <td>
                  <input type="radio" th:id="percentDown + ${lotto.id} + 2" th:name="percentDown + ${lotto.id}" class="form-check-input" onchange="calRow(this)" th:value="${lotto.percentDown.NO.code}" th:checked="${lotto.percentDown.code == 'N'}"/>
                  <label class="form-check-label" th:for="percentDown + ${lotto.id} + 2">ไม่ใช่</label>
                </td>
              </tr>
              <tr>
                <td>โต๊ด: </td>
                <td>
                  <input type="radio" th:id="percentTote + ${lotto.id} + 1" th:name="percentTote + ${lotto.id}" class="form-check-input" onchange="calRow(this)" th:value="${lotto.percentTote.YES.code}" th:checked="${lotto.percentTote.code == 'Y'}"/>
                  <label class="form-check-label" th:for="percentTote + ${lotto.id} + 1">ใช่</label>
                </td>
                <td>
                  <input type="radio" th:id="percentTote + ${lotto.id} + 2" th:name="percentTote + ${lotto.id}" class="form-check-input" onchange="calRow(this)" th:value="${lotto.percentTote.NO.code}" th:checked="${lotto.percentTote.code == 'N'}"/>
                  <label class="form-check-label" th:for="percentTote + ${lotto.id} + 2">ไม่ใช่</label>
                </td>
              </tr>
            </table>
          </td>
          <td><input type="text" class="form-control text-right" th:name="buyTotal + ${lotto.id}" th:value="${lotto.buyTotal}" readonly></td>
          <td class="text-right"><button type="button" class="btn btn-danger btn-sm" onclick="deleteLotto(this)">-</button></td>
        </tr>
        <tr>
          <td colspan="5" class="text-right font-weight-bold">รวม</td>
          <td><input type="text" class="form-control font-weight-bold text-right" id="buyAll" name="buyAll" th:value="${user.buy}" readonly></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="5" class="text-right font-weight-bold">รวมเปอร์เซ็นต์</td>
          <td><input type="text" class="form-control font-weight-bold text-right" id="buyAllPercent" name="buyAllPercent" th:value="${user.buyPercent}" readonly></td>
          <td></td>
        </tr>
      </table>
      <button type="button" class="btn btn-success" onclick="addRow()">สร้างเลขใหม่</button>
      <button type="button" class="btn btn-success" onclick="addRowDuplicate()">สร้างเลขซ้ำ</button>
    </div>
  </div>
  <br/>
  <input type="hidden" id="maxId" name="maxId" th:value="${maxId}"/>
  <button type="button" class="btn btn-primary" onclick="save()">บันทึก</button>
  <a th:href="@{/users-lotto?id=} + ${user.getPeriod().getId()}" class="btn btn-danger">ย้อนกลับ</a>
  <input type="hidden" id="line" name="line">
  <br><br>
</form>
<script>

  function addRow() {
    let num = Number($('#maxId').val());
    addRow = function () {
      num++;
      $('#tbDetail').find('tr:last').prev().prev().after('<tr>' +
        '<td><input type="number" class="form-control text-right" name="numberLotto' + num + '" onblur="checkMinus(this);setInputTote(this);checkLength(this)"></td>' +
        '<td><input type="number" class="form-control text-right" name="buyOn' + num + '" value="" onblur="checkMinus(this);calRow(this);"></td>' +
        '<td><input type="number" class="form-control text-right" name="buyDown' + num + '" value="" onblur="checkMinus(this);calRow(this)"></td>' +
        '<td><input type="number" class="form-control text-right" name="buyTote' + num + '" value="" onblur="checkMinus(this);calRow(this)" readonly></td>' +
        '<td nowrap>' +
          '<table class="table table-borderless">' +
            '<tr>' +
              '<td>บน</td>' +
              '<td>' +
                '<input type="radio" name="percentOn' + num + '" class="form-check-input" value="Y" checked onchange="calRow(this)">' +
                '<label class="form-check-label" for="percentOn' + num + '1">ใช่</label>' +
              '</td>' +
              '<td>' +
                '<input type="radio" name="percentOn' + num + '" class="form-check-input" value="N" onchange="calRow(this)">' +
                '<label class="form-check-label" for="percentOn' + num + '1">ไม่ใช่</label>' +
              '</td>' +
            '</tr>' +
            '<tr>' +
              '<td>ล่าง</td>' +
              '<td>' +
                '<input type="radio" name="percentDown' + num + '" class="form-check-input" value="Y" checked onchange="calRow(this)">' +
                '<label class="form-check-label" for="percentDown' + num + '1">ใช่</label>' +
              '</td>' +
              '<td>' +
                '<input type="radio" name="percentDown' + num + '" class="form-check-input" value="N" onchange="calRow(this)">' +
                '<label class="form-check-label" for="percentDown' + num + '1">ไม่ใช่</label>' +
              '</td>' +
            '</tr>' +
            '<tr>' +
              '<td>โต๊ด</td>' +
              '<td>' +
                '<input type="radio" name="percentTote' + num + '" class="form-check-input" value="Y" checked onchange="calRow(this)">' +
                '<label class="form-check-label" for="percentTote' + num + '1">ใช่</label>' +
              '</td>' +
              '<td>' +
                '<input type="radio" name="percentTote' + num + '" class="form-check-input" value="N" onchange="calRow(this)">' +
                '<label class="form-check-label" for="percentTote' + num + '1">ไม่ใช่</label>' +
              '</td>' +
            '</tr>' +
          '</table>' +
        '</td>' +
        '<td class="text-right"><input type="text" class="form-control text-right" name="buyTotal' + num + '" value="0" readonly></td>' +
        '<td class="text-right"><button type="button" class="btn btn-danger btn-sm" onclick="deleteLotto(this);">-</button></td>' +
        '</tr>');
      chkInteger();
    };
    addRow();
  }

  function addRowDuplicate() {
    addRow();
    let $trBefore = $('#tbDetail').find('tbody').find('tr:last').prev().prev().prev();
    let $trCurrent = $('#tbDetail').find('tbody').find('tr:last').prev().prev();
    let numberLotto = $trBefore.find("input[name^='numberLotto']").val();
    $trCurrent.find("input[name^='numberLotto']").val(numberLotto);
    $trCurrent.find("input[name^='buyOn']").val($trBefore.find("input[name^='buyOn']").val());
    $trCurrent.find("input[name^='buyDown']").val($trBefore.find("input[name^='buyDown']").val());
    $trCurrent.find("input[name^='buyTote']").val($trBefore.find("input[name^='buyTote']").val());
    $trCurrent.find("input[name^='percentOn'][value='" + $trBefore.find("input[name^='percentOn']:checked").val() + "']").prop('checked', true);
    $trCurrent.find("input[name^='percentDown'][value='" + $trBefore.find("input[name^='percentDown']:checked").val() + "']").prop('checked', true);
    $trCurrent.find("input[name^='percentTote'][value='" + $trBefore.find("input[name^='percentTote']:checked").val() + "']").prop('checked', true);
    $trCurrent.find("input[name^='buyTotal']").val($trBefore.find("input[name^='buyTotal']").val());
    calAll();
    if (numberLotto.length === 3) {
      $trCurrent.find("input[name^='buyTote']").prop('readonly', false);
    }
  }

  function save() {
    if (isTrueCondition()) {
      let arr = [];
      $("input[type='number'][name^='numberLotto']").each(function () {
        let name = $(this).attr('name');
        let line = name.slice(11);
        arr.push(line);
      });
      $('#line').val(arr.join());
      $('#lotto').submit();
    }
  }

  function isTrueCondition() {
    let result = true;
    $("input[type='number'][name^='numberLotto']").each(function () {
      if ($(this).val() === '') {
        result = false;
        $(this).focus();
        alert('ตัวเลขไม่สามารถเป็นค่าว่างได้');
        return false;
      }
    });
    if (result) {
      $("input[type='text'][name^='buyTotal']").each(function () {
        if (Number($(this).val()) === 0) {
          result = false;
          $(this).closest('tr').find("input[type='number'][name^='buyOn']").focus();
          alert('จำนวนเงินต้องมากว่า 0');
          return false;
        }
      });
    }
    return result;
  }

  function deleteLotto(field) {
    let $tr = jQuery(field).closest('tr');
    let number = $tr.find("input[type='number'][name^='numberLotto']").val();
    if (confirm('คุณต้องการลบเลข ' + number + ' ใช่หรือไม่')) {
      $tr.remove();
      calAll();
    }
  }

  function setInputTote(e) {
    const $field = jQuery(e);
    let $tote = $field.closest('tr').find("input[type='number'][name^='buyTote']");
    if (e.value.length === 3) {
      $tote.prop('readonly', false);
    } else {
      $tote.prop('readonly', true).val('');
      calRow(e);
    }
  }

  function checkLength(e) {
    if (e.value.length > 3) {
      e.value = e.value.substr(0, 3);
      let jquery = jQuery(e);
      jquery.closest('tr').find("input[name^='buyTote']").prop('readonly', false);
    }
  }

  function checkMinus(e) {
    if (e.value.indexOf('-') > -1) {
      e.value = '';
      alert('ไม่สามารถใส่ค่า - ได้');
    }
  }

  function calRow(e) {
    const $field = jQuery(e);
    const name = $field.attr('name');
    let $tr;
    if (name.includes('percent')) {
      $tr = $field.closest('table').closest('tr');
    } else {
      $tr = $field.closest('tr');
    }
    let buyOn = Number($tr.find("input[type='number'][name^='buyOn']").val());
    let buyDown = Number($tr.find("input[type='number'][name^='buyDown']").val());
    let buyTote = Number($tr.find("input[type='number'][name^='buyTote']").val());
    let isPercentOn = $tr.find("input[type='radio'][name^='percentOn']:checked").val();
    let isPercentDown = $tr.find("input[type='radio'][name^='percentDown']:checked").val();
    let isPercentTote = $tr.find("input[type='radio'][name^='percentTote']:checked").val();
    let buyTotal = 0;
    console.log(isPercentOn +','+ isPercentDown + ',' + isPercentTote);
    if (isPercentOn === 'Y') {
      buyTotal += (buyOn * 100 / 120);
    } else {
      buyTotal += buyOn;
    }

    if (isPercentDown === 'Y') {
      buyTotal += (buyDown * 100 / 120)
    } else {
      buyTotal += buyDown;
    }

    if (isPercentTote === 'Y') {
      buyTotal += (buyTote * 100 / 120);
    } else {
      buyTotal += buyTote;
    }

    let $buyTotal = $tr.find("input[type='text'][name^='buyTotal']");
    if (buyTotal % 1 === 0) {
      $buyTotal.val(buyTotal);
    } else {
      $buyTotal.val(buyTotal.toFixed(2));
    }
    calAll();
  }

  function calAll() {
    let num = 0;
    $("input[type='text'][name^='buyTotal']").each(function () {
      num += Number($(this).val());
    });
    let $buyAll = $('#buyAll');
    if (num % 1 === 0) {
      $buyAll.val(num);
    } else {
      $buyAll.val(num.toFixed(2));
    }
    calAllPercent();
  }

  function calAllPercent() {
    let buyOn = 0;
    $("input[type='number'][name^='buyOn']").each(function () {
      buyOn += Number($(this).val());
    });

    let buyDown = 0;
    $("input[type='number'][name^='buyDown']").each(function () {
      buyDown += Number($(this).val());
    });

    let buyTote = 0;
    $("input[type='number'][name^='buyTote']").each(function () {
      buyTote += Number($(this).val());
    });

    $('#buyAllPercent').val(buyOn + buyDown + buyTote);
  }

  $(function () {
    chkInteger();
    const $tbDetail = $('#tbDetail');
    if ($tbDetail.find('tr').length === 4) {
      addRow();
    }
  });

</script>
</body>
</html>