<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{ :: body}, 'Lotto')}" xmlns:th="http://www.thymeleaf.org">
<body>
<br>
<form id="lotto" method="post" name="lotto" th:action="@{/lotto-detail/} + ${user.id}">
  <div class="card" th:object="${user}">
    <div class="card-header bg-info text-white" th:text="${user.name}"></div>
    <div class="card-body">
      <table class="table table-bordered table-responsive-sm" id="tbDetail">
        <thead>
        <tr>
          <th class="text-right" scope="col" style="width: 14.28%">ตัวเลข</th>
          <th class="text-right" scope="col" style="width: 14.28%">บน</th>
          <th class="text-right" scope="col" style="width: 14.28%">ล่าง</th>
          <th class="text-right" scope="col" style="width: 14.28%">โต๊ด</th>
          <th class="text-right" nowrap="" scope="col" style="width: 15%">บวกเปอร์เซ็นต์แล้ว</th>
          <th class="text-right" scope="col" style="width: 14.28%">จำนวนเงิน</th>
          <th class="text-right" scope="col" style="width: 13.56%">ลบ</th>
        </tr>
        </thead>
        <tr style="display: none"></tr>
        <tr th:each="lotto : ${user.lottos}">
          <td>
            <input class="form-control text-right" onblur="checkMinus(this);setInputTote(this);checkLength(this)"
                   th:name="numberLotto + ${lotto.id}"
                   th:value="${lotto.numberLotto}"
                   type="number">
          </td>
          <td>
            <input class="form-control text-right" onblur="checkMinus(this);calRow(this)" th:name="buyOn + ${lotto.id}"
                   th:value="${lotto.buyOn}" type="number">
            <input th:name="lottoId + ${lotto.id}" th:value="${lotto.id}" type="hidden">
          </td>
          <td><input class="form-control text-right" onblur="checkMinus(this);calRow(this);"
                     th:name="buyDown + ${lotto.id}"
                     th:value="${lotto.buyDown}" type="number"></td>
          <td th:switch="${lotto.numberLotto.length()}">
                        <span th:case="'3'"><input class="form-control text-right"
                                                   onblur="checkMinus(this);calRow(this);"
                                                   th:name="buyTote + ${lotto.id}" th:value="${lotto.buyTote}"
                                                   type="number"></span>
            <span th:case="*"><input class="form-control text-right" onblur="checkMinus(this);calRow(this);"
                                     readonly th:name="buyTote + ${lotto.id}" th:value="${lotto.buyTote}"
                                     type="number"></span>
          </td>
          <td nowrap="">
            <table class="table table-borderless">
              <tr>
                <td class="text-right" colspan="2">ตั้งค่า</td>
                <td>
                                    <span class="fas fa-angle-up"
                                          style="float: right; padding-top: 0.5rem; cursor: pointer; display: none;"
                                          th:onclick="'javascript:hide(' + ${lotto.id} + ', this);'"></span>
                  <span class="fas fa-angle-down"
                        style="float: right; padding-top: 0.5rem; cursor: pointer"
                        th:onclick="'javascript:show(' + ${lotto.id} + ', this);'"></span>
                </td>
              </tr>
              <tr style="display: none" th:class="${lotto.id}">
                <td>บน:</td>
                <td>
                  <input class="form-check-input" onchange="calRow(this)"
                         th:checked="${lotto.percentOn.code == 'Y'}" th:id="percentOn + ${lotto.id} + 1"
                         th:name="percentOn + ${lotto.id}" th:value="${lotto.percentOn.YES.code}"
                         type="radio"/>
                  <label class="form-check-label" th:for="percentOn + ${lotto.id} + 1">ใช่</label>
                </td>
                <td nowrap="">
                  <input class="form-check-input" onchange="calRow(this)"
                         th:checked="${lotto.percentOn.code == 'N'}" th:id="percentOn + ${lotto.id} + 2"
                         th:name="percentOn + ${lotto.id}" th:value="${lotto.percentOn.NO.code}"
                         type="radio"/>
                  <label class="form-check-label" th:for="percentOn + ${lotto.id} + 2">ไม่ใช่</label>
                </td>
              </tr>
              <tr style="display: none" th:class="${lotto.id}">
                <td>ล่าง:</td>
                <td>
                  <input class="form-check-input" onchange="calRow(this)"
                         th:checked="${lotto.percentDown.code == 'Y'}" th:id="percentDown + ${lotto.id} + 1"
                         th:name="percentDown + ${lotto.id}" th:value="${lotto.percentDown.YES.code}"
                         type="radio"/>
                  <label class="form-check-label" th:for="percentDown + ${lotto.id} + 1">ใช่</label>
                </td>
                <td>
                  <input class="form-check-input" onchange="calRow(this)"
                         th:checked="${lotto.percentDown.code == 'N'}" th:id="percentDown + ${lotto.id} + 2"
                         th:name="percentDown + ${lotto.id}" th:value="${lotto.percentDown.NO.code}"
                         type="radio"/>
                  <label class="form-check-label"
                         th:for="percentDown + ${lotto.id} + 2">ไม่ใช่</label>
                </td>
              </tr>
              <tr style="display: none" th:class="${lotto.id}">
                <td>โต๊ด:</td>
                <td>
                  <input class="form-check-input" onchange="calRow(this)"
                         th:checked="${lotto.percentTote.code == 'Y'}" th:id="percentTote + ${lotto.id} + 1"
                         th:name="percentTote + ${lotto.id}" th:value="${lotto.percentTote.YES.code}"
                         type="radio"/>
                  <label class="form-check-label" th:for="percentTote + ${lotto.id} + 1">ใช่</label>
                </td>
                <td>
                  <input class="form-check-input" onchange="calRow(this)"
                         th:checked="${lotto.percentTote.code == 'N'}" th:id="percentTote + ${lotto.id} + 2"
                         th:name="percentTote + ${lotto.id}" th:value="${lotto.percentTote.NO.code}"
                         type="radio"/>
                  <label class="form-check-label"
                         th:for="percentTote + ${lotto.id} + 2">ไม่ใช่</label>
                </td>
              </tr>
            </table>
          </td>
          <td><input class="form-control text-right" readonly th:name="buyTotal + ${lotto.id}"
                     th:value="${lotto.buyTotal}" type="text"></td>
          <td class="text-right">
            <button class="btn btn-danger btn-sm" onclick="deleteLotto(this)" type="button">-</button>
          </td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold" colspan="5">รวม</td>
          <td><input class="form-control font-weight-bold text-right" id="buyAll" name="buyAll" readonly
                     th:value="${user.buy}" type="text"></td>
          <td></td>
        </tr>
        <tr>
          <td class="text-right font-weight-bold" colspan="5">รวมเปอร์เซ็นต์</td>
          <td><input class="form-control font-weight-bold text-right" id="buyAllPercent" name="buyAllPercent"
                     readonly th:value="${user.buyPercent}" type="text"></td>
          <td></td>
        </tr>
      </table>
      <button class="btn btn-success" onclick="addRow()" type="button">สร้างเลขใหม่</button>
      <button class="btn btn-success" onclick="addRowDuplicate()" type="button">สร้างเลขซ้ำ</button>
      <button class="btn btn-success" onclick="addRowRevert()" type="button">สร้างเลขกลับ</button>
    </div>
  </div>
  <br/>
  <input id="maxId" name="maxId" th:value="${maxId}" type="hidden"/>
  <button class="btn btn-primary" onclick="save()" type="button">บันทึก</button>
  <a class="btn btn-danger" th:href="@{/users-lotto?id=} + ${user.getPeriod().getId()}">ย้อนกลับ</a>
  <input id="line" name="line" type="hidden">
  <br><br>
</form>
<script>

  function addRow() {
    let num = Number($('#maxId').val());
    addRow = function () {
      num++;
      $('#tbDetail').find('tr:last').prev().prev().after('<tr>' +
        '<td><input type="number" class="form-control text-right" name="numberLotto' + num + '" onblur="checkMinus(this);setInputTote(this);checkLength(this)"></td>' +
        '<td><input type="number" class="form-control text-right" name="buyOn' + num + '" value="" onblur="checkMinus(this);calRow(this);"></td>' +
        '<td><input type="number" class="form-control text-right" name="buyDown' + num + '" value="" onblur="checkMinus(this);calRow(this)"></td>' +
        '<td><input type="number" class="form-control text-right" name="buyTote' + num + '" value="" onblur="checkMinus(this);calRow(this)" readonly></td>' +
        '<td nowrap>' +
        '<table class="table table-borderless">' +
        '<tr>' +
        '<td colspan="2" class="text-right">ตั้งค่า</td>' +
        '<td>' +
        '<span onclick="hide(' + num + ', this);" class="fas fa-angle-up" style="float: right; padding-top: 0.5rem; cursor: pointer; display: none;"></span>' +
        '<span onclick="show(' + num + ', this);" class="fas fa-angle-down" style="float: right; padding-top: 0.5rem; cursor: pointer"></span>' +
        '</td>' +
        '</tr>' +
        '<tr class="' + num + '" style="display: none">' +
        '<td>บน</td>' +
        '<td>' +
        '<input type="radio" name="percentOn' + num + '" class="form-check-input" value="Y" checked onchange="calRow(this)">' +
        '<label class="form-check-label" for="percentOn' + num + '1">ใช่</label>' +
        '</td>' +
        '<td>' +
        '<input type="radio" name="percentOn' + num + '" class="form-check-input" value="N" onchange="calRow(this)">' +
        '<label class="form-check-label" for="percentOn' + num + '1">ไม่ใช่</label>' +
        '</td>' +
        '</tr>' +
        '<tr class="' + num + '" style="display: none">' +
        '<td>ล่าง</td>' +
        '<td>' +
        '<input type="radio" name="percentDown' + num + '" class="form-check-input" value="Y" checked onchange="calRow(this)">' +
        '<label class="form-check-label" for="percentDown' + num + '1">ใช่</label>' +
        '</td>' +
        '<td>' +
        '<input type="radio" name="percentDown' + num + '" class="form-check-input" value="N" onchange="calRow(this)">' +
        '<label class="form-check-label" for="percentDown' + num + '1">ไม่ใช่</label>' +
        '</td>' +
        '</tr>' +
        '<tr class="' + num + '" style="display: none">' +
        '<td>โต๊ด</td>' +
        '<td>' +
        '<input type="radio" name="percentTote' + num + '" class="form-check-input" value="Y" checked onchange="calRow(this)">' +
        '<label class="form-check-label" for="percentTote' + num + '1">ใช่</label>' +
        '</td>' +
        '<td>' +
        '<input type="radio" name="percentTote' + num + '" class="form-check-input" value="N" onchange="calRow(this)">' +
        '<label class="form-check-label" for="percentTote' + num + '1">ไม่ใช่</label>' +
        '</td>' +
        '</tr>' +
        '</table>' +
        '</td>' +
        '<td class="text-right"><input type="text" class="form-control text-right" name="buyTotal' + num + '" value="0" readonly></td>' +
        '<td class="text-right"><button type="button" class="btn btn-danger btn-sm" onclick="deleteLotto(this);">-</button></td>' +
        '</tr>');
      chkInteger();
    };
    addRow();
  }

  function addRowDuplicate() {
    addRow();
    const $trBefore = $('#tbDetail').find('tbody').find('tr:last').prev().prev().prev();
    const $trCurrent = $('#tbDetail').find('tbody').find('tr:last').prev().prev();
    const numberLotto = $trBefore.find("input[name^='numberLotto']").val();
    $trCurrent.find("input[name^='numberLotto']").val(numberLotto);
    $trCurrent.find("input[name^='buyOn']").val($trBefore.find("input[name^='buyOn']").val());
    $trCurrent.find("input[name^='buyDown']").val($trBefore.find("input[name^='buyDown']").val());
    $trCurrent.find("input[name^='buyTote']").val($trBefore.find("input[name^='buyTote']").val());
    $trCurrent.find("input[name^='percentOn'][value='" + $trBefore.find("input[name^='percentOn']:checked").val() + "']").prop('checked', true);
    $trCurrent.find("input[name^='percentDown'][value='" + $trBefore.find("input[name^='percentDown']:checked").val() + "']").prop('checked', true);
    $trCurrent.find("input[name^='percentTote'][value='" + $trBefore.find("input[name^='percentTote']:checked").val() + "']").prop('checked', true);
    $trCurrent.find("input[name^='buyTotal']").val($trBefore.find("input[name^='buyTotal']").val());
    calAll();
    if (numberLotto.length === 3) {
      $trCurrent.find("input[name^='buyTote']").prop('readonly', false);
    }
  }

  function addRowRevert() {
    const $trBefore = $('#tbDetail').find('tbody').find('tr:last').prev().prev();
    const numberLotto = $trBefore.find("input[name^='numberLotto']").val();
    if (numberLotto.length === 2) {
      setNumberRevert(numberLotto, getPredicateTwo())
    } else if (numberLotto.length === 3) {
      setNumberRevert(numberLotto, getPredicateThree());
    }
  }

  function setNumberRevert(numberLotto, predicateRevert) {
    let newNumberLottos = {};
    for (let arr of predicateRevert) {
      let newNumberLotto = '';
      for (let position of arr) {
        newNumberLotto += numberLotto.substring(position, position + 1);
      }
      if (newNumberLotto !== numberLotto) {
        newNumberLottos[newNumberLotto] = newNumberLotto;
      }
    }

    for (let newNumberLotto in newNumberLottos) {
      addRowDuplicate();
      const $trCurrent = $('#tbDetail').find('tbody').find('tr:last').prev().prev();
      $trCurrent.find("input[name^='numberLotto']").val(newNumberLotto);
    }
  }

  function getPredicateTwo() {
    return [
      [0, 1],
      [1, 0]
    ];
  }

  function getPredicateThree() {
    return [
      [0, 1, 2],
      [0, 2, 1],
      [1, 0, 2],
      [1, 2, 0],
      [2, 1, 0],
      [2, 0, 1]
    ];
  }

  function save() {
    if (isTrueCondition()) {
      let arr = [];
      $("input[type='number'][name^='numberLotto']").each(function () {
        let name = $(this).attr('name');
        let line = name.slice(11);
        arr.push(line);
      });
      $('#line').val(arr.join());
      $('#lotto').submit();
    }
  }

  function isTrueCondition() {
    let result = true;
    $("input[type='number'][name^='numberLotto']").each(function () {
      if ($(this).val() === '') {
        result = false;
        $(this).focus();
        alert('ตัวเลขไม่สามารถเป็นค่าว่างได้');
        return false;
      }
    });
    if (result) {
      $("input[type='text'][name^='buyTotal']").each(function () {
        if (Number($(this).val()) === 0) {
          result = false;
          $(this).closest('tr').find("input[type='number'][name^='buyOn']").focus();
          alert('จำนวนเงินต้องมากว่า 0');
          return false;
        }
      });
    }
    return result;
  }

  function deleteLotto(field) {
    let $tr = jQuery(field).closest('tr');
    let number = $tr.find("input[type='number'][name^='numberLotto']").val();
    if (confirm('คุณต้องการลบเลข ' + number + ' ใช่หรือไม่')) {
      $tr.remove();
      calAll();
    }
  }

  function setInputTote(e) {
    const $field = jQuery(e);
    let $tote = $field.closest('tr').find("input[type='number'][name^='buyTote']");
    if (e.value.length === 3) {
      $tote.prop('readonly', false);
    } else {
      $tote.prop('readonly', true).val('');
      calRow(e);
    }
  }

  function checkLength(e) {
    if (e.value.length > 3) {
      e.value = e.value.substr(0, 3);
      let jquery = jQuery(e);
      jquery.closest('tr').find("input[name^='buyTote']").prop('readonly', false);
    }
  }

  function checkMinus(e) {
    if (e.value.indexOf('-') > -1) {
      e.value = '';
      alert('ไม่สามารถใส่ค่า - ได้');
    }
  }

  function calRow(e) {
    const $field = jQuery(e);
    const name = $field.attr('name');
    let $tr;
    if (name.includes('percent')) {
      $tr = $field.closest('table').closest('tr');
    } else {
      $tr = $field.closest('tr');
    }
    let buyOn = Number($tr.find("input[type='number'][name^='buyOn']").val());
    let buyDown = Number($tr.find("input[type='number'][name^='buyDown']").val());
    let buyTote = Number($tr.find("input[type='number'][name^='buyTote']").val());
    let isPercentOn = $tr.find("input[type='radio'][name^='percentOn']:checked").val();
    let isPercentDown = $tr.find("input[type='radio'][name^='percentDown']:checked").val();
    let isPercentTote = $tr.find("input[type='radio'][name^='percentTote']:checked").val();
    let buyTotal = 0;
    console.log(isPercentOn + ',' + isPercentDown + ',' + isPercentTote);
    if (isPercentOn === 'Y') {
      buyTotal += (buyOn * 100 / 120);
    } else {
      buyTotal += buyOn;
    }

    if (isPercentDown === 'Y') {
      buyTotal += (buyDown * 100 / 120)
    } else {
      buyTotal += buyDown;
    }

    if (isPercentTote === 'Y') {
      buyTotal += (buyTote * 100 / 120);
    } else {
      buyTotal += buyTote;
    }

    let $buyTotal = $tr.find("input[type='text'][name^='buyTotal']");
    if (buyTotal % 1 === 0) {
      $buyTotal.val(buyTotal);
    } else {
      $buyTotal.val(buyTotal.toFixed(2));
    }
    calAll();
  }

  function calAll() {
    let num = 0;
    $("input[type='text'][name^='buyTotal']").each(function () {
      num += Number($(this).val());
    });
    let $buyAll = $('#buyAll');
    if (num % 1 === 0) {
      $buyAll.val(num);
    } else {
      $buyAll.val(num.toFixed(2));
    }
    calAllPercent();
  }

  function calAllPercent() {
    let buyOn = 0;
    $("input[type='number'][name^='buyOn']").each(function () {
      buyOn += Number($(this).val());
    });

    let buyDown = 0;
    $("input[type='number'][name^='buyDown']").each(function () {
      buyDown += Number($(this).val());
    });

    let buyTote = 0;
    $("input[type='number'][name^='buyTote']").each(function () {
      buyTote += Number($(this).val());
    });

    $('#buyAllPercent').val(buyOn + buyDown + buyTote);
  }

  function show(id, field) {
    $("tr[class='" + id + "']").show();
    const j = jQuery(field);
    j.hide();
    j.closest('tr').find("span[class='fas fa-angle-up']").show();
  }

  function hide(id, field) {
    $("tr[class='" + id + "']").hide();
    const j = jQuery(field);
    j.hide();
    j.closest('tr').find("span[class='fas fa-angle-down']").show();
  }

  $(function () {
    chkInteger();
    const $tbDetail = $('#tbDetail');
    if ($tbDetail.find('tr').length === 4) {
      addRow();
    }
  });

</script>
</body>
</html>