<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{ :: body}, 'Show Lotto')}">
<body>
<br>
<h3>รายชื่อผู้ถูกรางวัล</h3>
<br>
<div class="card" th:each="user : ${users}" style="margin-bottom: 1rem">
  <div class="card-header bg-info text-white" th:text="${user.name}"></div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col" style="width: 20%; text-align: right; vertical-align: middle" rowspan="2">ตัวเลข</th>
        <th scope="col" style="width: 20%; text-align: center" colspan="2">บน</th>
        <th scope="col" style="width: 20%; text-align: center" colspan="2">ล่าง</th>
        <th scope="col" style="width: 20%; text-align: center" colspan="2">โต๊ด</th>
        <th scope="col" style="width: 20%; text-align: right" rowspan="2">จำนวนเงินที่จ่าย</th>
      </tr>
      <tr>
        <th scope="col" class="text-right">ซื้อ</th>
        <th scope="col" class="text-right">จ่าย</th>
        <th scope="col" class="text-right">ซื้อ</th>
        <th scope="col" class="text-right">จ่าย</th>
        <th scope="col" class="text-right">ซื้อ</th>
        <th scope="col" class="text-right">จ่าย</th>
      </tr>
      </thead>
      <tr th:each="lotto : ${user.lottos}">
        <td class="text-right" th:text="${lotto.numberLotto}"></td>
        <td class="text-right" th:text="${lotto.buyOn}"></td>
        <td class="text-right" th:text="${lotto.payOn}"></td>
        <td class="text-right" th:text="${lotto.buyDown}"></td>
        <td class="text-right" th:text="${lotto.payDown}"></td>
        <td class="text-right" th:text="${lotto.buyTote}"></td>
        <td class="text-right" th:text="${lotto.payTote}"></td>
        <td class="text-right" th:text="${lotto.payTotal}"></td>
      </tr>
      <tr>
        <td colspan="7" class="text-right font-weight-bold">รวมจำนวนเงินที่ต้องจ่าย</td>
        <td th:text="${user.pay}" class="font-weight-bold text-right"></td>
      </tr>
    </table>
  </div>
</div>
<a th:href="@{/}" class="btn btn-danger">ย้อนกลับ</a>
</body>
</html>