<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{ :: body}, 'Period Form')}">
<body>
<link th:href="@{/public/css/gijgo.min.css}" rel="stylesheet" type="text/css"/>
<script th:src="@{/public/js/gijgo.min.js}"></script>
<script th:src="@{/public/js/messages/messages.th-th.min.js}"></script>
<br>
<div class="row justify-content-md-center">
  <div class="col-sm-8">
    <h2>งวดวันที่</h2><hr/>
    <form action="#" th:action="@{/update-period}" th:object="${period}" method="post">
      <input type="hidden" th:field="*{id}"/>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
                <label for="periodDate">วันที่:</label>
                <input id="periodDate" th:field="*{periodDate}" th:value="*{periodDate}" class="form-control"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<script>
  let config = {
    locale: 'th-th',
    uiLibrary: 'bootstrap4',
    format: 'dd-mm-yyyy'
  };

  $(function () {
    $('#periodDate').datepicker(config);
  });

</script>
</body>
</html>