<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{ :: body}, 'User Form')}">
<body>
<br>
<div class="row justify-content-md-center">
  <div class="col-sm-8">
    <h2>แก้ไขรายชื่อ</h2><hr/>
    <form action="#" th:action="@{/update-user/} + ${period}" th:object="${user}" method="post">
      <input type="hidden" th:field="*{id}"/>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
                <label for="name">ชื่อ:</label>
                <input id="name" th:field="*{name}" th:value="*{name}" class="form-control"/>
                <small id="nameHelp" class="form-text text-muted">ไม่สามารถใช้ชื่อซ้ำกันได้ในแต่ละงวด</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">บันทึก</button>
      <a th:href="@{/users-lotto?id=} + ${period}" class="btn btn-danger">ย้อนกลับ</a>
    </form>
  </div>
</div>
</body>
</html>