<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{ :: body}, 'Users period')}">
<body>
<div class="card">
  <div class="card-header bg-primary text-white">Header</div>
  <div class="card-body">
    <table class="table table-bordered">
      <tr>
        <td>sss</td>
        <td>sss</td>
        <td>sss</td>
      </tr>
      <tr>
        <td>sss</td>
        <td>sss</td>
        <td>sss</td>
      </tr>
    </table>
  </div>
  <div class="card-footer">Footer</div>
</div>
<a th:href="@{/create-user}" class="btn btn-primary">สร้างรายชื่อ</a>
</body>
</html>